services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: drift
      POSTGRES_PASSWORD: drift
      POSTGRES_DB: drift
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data

  minio-init:
    image: minio/mc:latest
    depends_on:
      - minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "mc alias set local http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD} &&
       mc mb -p local/driftdock || true"

  api_v1:
    build:
      context: ./api
    environment:
      APP_VERSION: v1
      DATABASE_URL: postgresql://drift:drift@postgres:5432/drift
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - postgres
      - redis

  api_v2:
    build:
      context: ./api
    environment:
      APP_VERSION: v2
      DATABASE_URL: postgresql://drift:drift@postgres:5432/drift
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - postgres
      - redis

  worker:
    build:
      context: ./worker
    environment:
      WORKER_VERSION: v1
      DATABASE_URL: postgresql://drift:drift@postgres:5432/drift
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - postgres
      - redis

  gateway:
    build:
      context: ./nginx
    environment:
      CANARY_PERCENT: 10
    ports:
      - "8080:80"
    depends_on:
      - api_v1
      - api_v2

  simulator:
    image: python:3.11-slim
    working_dir: /app
    volumes:
      - ./scripts:/app
    command: ["python", "simulator.py"]
    depends_on:
      - gateway
    profiles:
      - load

volumes:
  pgdata:
  miniodata:
